.header {
    background: #0C1C19;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
}


.nav-items {
    display:flex;
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
}

.nav-link {
    background-color: #729FB2;
    color: #0C1C19;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}
button {
    background-color: #729FB2;
    color: #0C1C19;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0px;
}
.nav-link:hover {
    background-color: #08bd9a;
}

h1{
    color: #48869F
}
